
body{
	background: rgb(14, 14, 14);
	background: -moz-linear-gradient(270deg, rgb(14, 14, 14) 0%, rgb(34, 34, 34) 71%);
	background: -webkit-linear-gradient(270deg, rgb(14, 14, 14) 0%, rgb(34, 34, 34) 71%);
	background: -o-linear-gradient(270deg, rgb(14, 14, 14) 0%, rgb(34, 34, 34) 71%);
	background: -ms-linear-gradient(270deg, rgb(14, 14, 14) 0%, rgb(34, 34, 34) 71%);
	background: linear-gradient(0deg, rgb(14, 14, 14) 0%, rgb(34, 34, 34) 71%);
}

.modal-content{
	background-color:#DDDDDD;
	border-radius:1.75%;
	max-width:640px;
	margin:auto;
}

.list-inline {
	display:inline;
	margin:8%;
}

ul {
	padding:0;
}

#media{
	margin-top:.5em;
}

#KniteBos, #ent {
	font-size:2.5em;
	color:#93191C;
	font-family: 'Syncopate', sans-serif;
	text-shadow: 1px 1px 8px rgba(160, 50, 50, 1);
}

#slogan {
	color:#CCCCCC;
	font-size:2em;
	font-family: 'Syncopate', sans-serif;
	text-shadow: 1px 1px 8px rgba(150, 150, 150, 1);
}

/*.smedia {
	width:10%;
	height:10%;
    -webkit-transition: width .15s, height .15s;   For Safari 3.1 to 6.0 
    transition: width .15s, height .15s;
}

.smedia:hover {
	width:11%;
	height:11%;
	}*/

#contact {
	font-size:2em;
	color:#93191C;
	border:solid #93191C 4px;
    /*-webkit-transition: color .2s, borderColor .2s;  /* For Safari 3.1 to 6.0 
    transition: color .2s, borderColor .2s;*/
	border-radius:50%;
	margin:2%;
}

#contact:hover {
	color:#EEEEEE;
	border-color:#EEEEEE;
}

#contact:active {
	color:#CCCCCC;
	border-color:#CCCCCC;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 990px) { 
	.vertical {
	     display: flex;
	     align-items: center;
		}
	#ent, #KniteBos{
		font-size:2.25em;
	}
	html, body{
		height:100%;
	}
	
}

@media (min-width: 990px) and (max-width: 1200px) { 
    #KniteBos{
		font-size:1.9em;
    }
	#ent {
		font-size:1.9em;
	}
}


@media(max-width:480px){
	.list-inline{
		margin:3%;
	}
	#ent, #KniteBos{
		font-size:2.25em;
	}	
}

.logo{
	max-width:320px;
	margin:0 auto;
	width:100%;
}
